$blue-start: #00a8ff;
$blue-end: #007aff;
$gold: #f8b12c;

// overrite BT
$primary:                                       $blue-end !default;
$custom-control-indicator-size:                 1.4rem !default;

$custom-switch-width:                           $custom-control-indicator-size * 1.75 !default;
$custom-switch-indicator-border-radius:         $custom-control-indicator-size / 2 !default;