@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import "libs/snackbar.min.css";
@import "libs/huebee.min.css";

@import "variables";
@import "utils/ripple";
@import "utils/tab-reset";
@import "utils/functions";

@import "bootstrap/bootstrap";

@import "popup";
@import "options";
@import "install";

body {
	font-family: "Roboto", sans-serif;
}

.aspect1by1 {
	padding-bottom: 100%;
}
.aspect16by9 {
	padding-bottom: 56.25%;
}

.card-hidden {
	overflow: hidden;
}

.form-group-max {
	max-width: 600px;
}

.row.row-mn {
	margin-left: 0;
	margin-right: 0;
}

.video-mw {
	max-width: 100%;
	display: block;
	height: auto;
}

button.close {
	outline: none;
}

.badge {
	&-new {
		background-color: #28a745;
	}
	&-fixed,
	&-improved {
		background-color: #0366d6;
	}
	&-changed {
		background-color: #6f42c1;
	}
	&-removed {
		background-color: #d73a49;
	}
}

code {
	color: #f22c87;
}

@keyframes highlight_help {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(.9);
	}
	100% {
		transform: scale(1);
	}
}