@import 'material-components-web.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@function rem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}

$blue-start: #00a8ff;
$blue-end: #007aff;

$black: #000;
$gold: #f8b12c;
$grey-1: #f4f4f4;
$grey-2: #ebebeb;
$grey-3: #dddddd;
$grey-4: #acacac;
$grey-5: #9e9e9e;

:root {
	--mdc-theme-primary: #{$blue-end};
	--mdc-theme-secondary: #{$blue-start};
}

*, *::after, *::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: $black;
	font-family: 'Roboto';
	font-size: 1rem;
}

button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

::-webkit-scrollbar {
	width: rem(10px);
	height: rem(10px);
}
::-webkit-scrollbar-track {
	background: #e8e8e8;
}

::-webkit-scrollbar-thumb {
	background: #d6d6d6;
	border-radius: 0;
}

.mdc-snackbar {
	background-color: $blue-end;
}

.tooltip {
	.tooltip-inner {
		background: rgba(0, 0, 0, 0.7);
		color: white;
		border-radius: rem(3px);
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
		padding: rem(6px) rem(10px);
		text-align: center;
		white-space: nowrap;
		font-size: rem(14px);
	}

	.tooltip-arrow {
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		margin: 5px;
		border-color: rgba(0, 0, 0, 0.7);
	}
	&[x-placement^="top"] {
		margin-bottom: 5px;
		.tooltip-arrow {
			border-width: 5px 5px 0 5px;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			bottom: 0;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	&[x-placement^="left"] {
		margin-right: 5px;
		.tooltip-arrow {
			border-width: 5px 0 5px 5px;
			border-top-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			right: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.popup {
	width: rem(360px);
	padding: rem(20px);
	.mdc-tab__ripple::before, 
	.mdc-tab__ripple::after {
		background-color: #000;
	}
	.tabs-menu {
		background-color: $grey-1;
		margin-left: rem(-20px);
		margin-right: rem(-20px);
		#popup-menu {
			width: 100%;
			position: relative;
			.mdc-tab {
				font-size: rem(13px);
				text-transform: none;
				letter-spacing: 0;
				font-weight: 400;
				width: 33.3333%;
			}
			.sep {
				display: block;
				background-color: rgba(0,0,0,0.1);
				top: rem(15px);
				bottom: rem(15px);
				width: 2px;
				position: absolute;
				left: 1/3 * 100%;
				margin-left: -1px;
				&:nth-child(2) {
					left: 2/3 * 100%;
				}
			}
			.mdc-tab--active .mdc-tab__text-label {
				color: $black;
				font-weight: 500;
			}
		}
	}
}

.mdc-snackbar {
	z-index: 200;
}

.header-popup, .header-drawer-options {
	display: flex;
	margin-bottom: rem(30px);
	position: relative;
	.options {
		position: absolute;
		top: -5px;
		right: 0;
		cursor: pointer;
		button {
			width: rem(44px);
			height: rem(44px);
			fill: $grey-3;
			&:hover {
				fill: $grey-4;
			}
			&:focus {
				fill: #000;
			}
			svg{
				width: rem(20px);
				height: rem(20px);
				display: block;
			}
		}
	}
	.profile {
		height: rem(80px);
		width: rem(80px);
		// border: 2px solid $grey-2;
		border-radius: rem(8px);
		margin-right: rem(30px);
	}
	.title {
		font-size: rem(20px);
		margin-top: rem(5px);
		margin-bottom: rem(12px);
		line-height: 1;
	}
	.header-info small.name {
		font-size: rem(10px);
		color: $grey-4;
		line-height: 1;
		display: block;
		margin-bottom: rem(12px);
		max-width: 160px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
.mdc-ripple-surface.mdc-ripple-upgraded--background-focused:before, 
.mdc-ripple-surface:not(.mdc-ripple-upgraded):focus:before,
.mdc-tab .mdc-ripple-upgraded--background-focused:before{
	opacity: .05;
}
.mdc-tab-indicator {
	display: none;
}
.panels {
	.panel {
		display: none;
		padding-top: rem(20px);
		&.active {
			display: block;
		}
	}
}

.items-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: rem(110px);
	grid-gap: rem(20px);
	// grid-template-rows: repeat(auto-fill, 100px);

	.item-grid {
		position: relative;
		&.active .dot-active {
			background-color: #f50057;
			height: 6px;
			width: 6px;
			border-radius: 50%;
			position: absolute;
			top: 10px;
			left: 10px;
		}
		&:hover, &:focus, &.open-info {
			.btn-action {
				background: linear-gradient(to bottom, $blue-start 0%, $blue-end 100%);
				
				.icon {
					fill: url(#svg-hover);
				}

				.text {
					color: $blue-end;
				}
			}
			&:not(.open-info) .more-info {
				opacity: 1;
				visibility: visible;
			}
		}
		// more info
		.circle {
			background: linear-gradient(to bottom, $blue-start 0%, $blue-end 100%);
			position: absolute;
			right: 6px;
			top: 8px;
			width: 0px;
			height: 0px;
			border-radius: 50%;
			opacity: 1;
			z-index: 2;
			transition: all 250ms ease-out;
		}
		&.open-info .circle {
			right: -100px;
			top: -80px;
			width: 220px;
			height: 220px;
			transition: all 250ms ease-out;
		}
		.more-info {
			position: absolute;
			z-index: 2;
			top: rem(6px);
			right: rem(3px);
			border: 0;
			padding: 0;
			width: rem(16px);
			height: rem(16px);
			background: none;
			outline: none;
			opacity: 0;
			visibility: hidden;
			fill: rgba(0,0,0,.2);
			cursor: pointer;
			svg {
				width: rem(16px);
				height: rem(16px);
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}
			&:hover {
				fill: rgba(0,0,0,.35);
			}
		}
		.extra-info {
			transform-style: preserve-3d;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: none;
			opacity: 0;
			z-index: 3;

			.ico-data {
				fill: #FFF;
				height: 18px;
				width: 22px;
				display: inline-block;
				vertical-align: middle;
				line-height: 1;
				padding: 8px 2px;
				svg {
					width: 18px;
					height: 18px;
					display: block;
					margin: 0 auto;
				}
			}
		}
		// end more info
		.btn-action {
			border: 0;
			border-radius: rem(5px);
			height: rem(110px);
			width: 100%;

			&.mdc-ripple-surface:hover:before, .mdc-ripple-surface:focus:before {
				opacity: .0;
			}
			.wrap {
				position: absolute;
				top: 2px;
				left: 2px;
				right: 2px;
				bottom: 2px;
				overflow: hidden;
				border-radius: rem(3px);
				
				overflow: hidden;
				transform-style: preserve-3d;
			}
			.inset {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-evenly;
				padding: rem(10px) rem(8px);
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #FFF;
				border-radius: rem(3px);
			}

			padding: 0;
			margin: 0;
			background-color: $grey-2;

			.icon {
				fill: #2c2c30;
				width: rem(32px);
				height: rem(32px);
				display: block;
				margin: 0 auto;
				transform: translateY(0);
				transition: transform 400ms cubic-bezier(0.4,0,0.2,1);
			}
			
			$text-rows: 2;
			.text {

				transform: translateY(0);
				transition: transform 400ms cubic-bezier(0.4,0,0.2,1);
				width: 100%;
				font-size: rem(11px);
				font-weight: 400;
				color: #888;
				text-align: center;
				display: block;
				line-height: rem(12px);
				margin-top: rem(10px);
				display: flex;
				align-items: center;
				height: rem((10px * 1.2) * $text-rows);

				span {
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: $text-rows;
				}
			}
		}
	}
}

.rating {
	direction: rtl;

	i {
		display: block;
		height: rem(11px);
		width: rem(16px);
		padding-right: rem(5px);
		background-position: top left;
		background-size: rem(11px);
		float: left;
		background-repeat: no-repeat;
		// gold
		&, &.active ~ i:hover {
			background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$gold}' width='17.114' height='16.356' viewBox='3.443 3.572 17.114 16.356'><path d='M12 17.27l4.15 2.511c.76.46 1.689-.22 1.49-1.08l-1.101-4.72 3.67-3.181c.67-.58.31-1.68-.569-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.541 1.49 1.08l4.15-2.5z'/></svg>");
		}
		// grey
		&:hover ~ i, &.active ~ i {
			background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$grey-3}' width='17.114' height='16.356' viewBox='3.443 3.572 17.114 16.356'><path d='M12 17.27l4.15 2.511c.76.46 1.689-.22 1.49-1.08l-1.101-4.72 3.67-3.181c.67-.58.31-1.68-.569-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.541 1.49 1.08l4.15-2.5z'/></svg>");
		}
	}
}

// options
$aside-width: 300px;
.options {
	.drawer-container-flex {
		display: inline-flex;
		height: 100vh;
		width: 100%;
	}

	.drawer-header-flex {
		display: inline-flex;
		flex: 1 1 auto;
	}
	.header-drawer-options {
		margin-bottom: 0;
	}
	.mdc-drawer--permanent {
		width: rem($aside-width);
	}
	.aside-1 {
		border-right: 0;
		.mdc-drawer__header-content{
			background: linear-gradient(to bottom, $blue-start 0%, $blue-end 100%);
			color: #FFF;
			font-size: rem(22px);
		}
		small {
			margin-left: 10px;
			font-size: 14px;
			line-height: 1.5;
		}
		.mdc-list-item__meta {
			width: 16px;
			height: 16px;
		}
	}
	.mdc-drawer__drawer {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.mdc-list-item {
		padding-left: rem(20px);
		padding-right: rem(20px);
	}
}
#options-menu {
	.active {
		fill: url(#svg-hover);
		color: $blue-end;
	}
	&:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item:not(.mdc-ripple-upgraded):focus::before, 
	&:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item.mdc-ripple-upgraded--background-focused::before {
		opacity: .05;
	}
}
.grid-avatar,
.content-options {
	&::-webkit-scrollbar {
		width: rem(10px);
		height: rem(10px);
	}
	&::-webkit-scrollbar-track {
		background: #4e545f;
	}

	&::-webkit-scrollbar-thumb {
		background: #5a5f69;
		border-radius: 0;
	}
}
.content-options {
	padding: rem(30px);
	background-color: #2c303c;
	width: 100%;
	position: relative;
	overflow: auto;

	.panel {
		flex-wrap: wrap;
	}
	.option-feature {
		width: 100%;
	}
	.option-block {
		margin-bottom: rem(30px);
		padding: rem(20px);
		background-color: rgba(255, 255, 255, 0.05);
		color: #FFF;
		width: calc(100% - 30px);
		display: block;
		@media (min-width: 1300px) {	
			width: calc(50% - 30px);
		}
		@media (min-width: 1600px) {
			width: calc(33.333% - 30px);
		}
		margin-right: rem(30px);

		&.disabled {
			opacity: .5;
			pointer-events: none;
			cursor: col-resize;
		}

		.mdc-list {
			margin: 0 -20px;
			color: #FFF;

			.mdc-list-item__secondary-text {
				color: #9d9d9d;
				a {
					color: #9d9d9d;
					text-decoration: underline;
				}
			}
		}
	}
	.option-block-3 {
		.option {
			width: 66.6666%;
			float: left;
			padding-right: 5px;
			+ .option {
				width: 33.3333%;
				padding-right: 0;
				padding-left: 5px;
			}
		}
	}
	.option-block-4 {
		width: calc(100% - #{rem(30px)});
		@media (min-width: 1600px) {
			width: calc(66.666% - 30px);
		}
	}
	.h1-options {
		width: 100%;
	}
	.avatar-title {
		width: 100%;
		margin-bottom: rem(15px);
	}
	.grid-avatar {
		margin-right: rem(-8px);
	}
	.option-avatar {
		margin-top: rem(30px);
	}
	.avatar {
		margin-right: rem(8px);
		margin-bottom: rem(8px);
		width: calc(20% - #{rem(8px)});
		float: left;
	}
	.h1-options{
		margin-top: 0;
	}
	.h2-options {
		margin: 0;
		width: 100%;
	}
	.avatar input {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0,0,0,0);
		white-space: nowrap;
		clip-path: inset(50%);
		border: 0;
	}
	.avatar {
		&.active label {
			border-color: $blue-end;
		}
		label {
			img {
				height: 100%;
				width: 100%;
				display: block;
				background-color: #FFF;
			}
			display: block;
			overflow: hidden;
			border-radius: rem(8px);
			border: 2px solid transparent;
		}
	}

	.panel {
		display: none;
		margin-right: rem(-30px);
		&.active {
			display: flex;
		}
	}
	.option {
		display: flex;
		align-items: flex-end;
		min-height: rem(55px);

		.mdc-switch {
			margin-bottom: rem(16px);
		}
		.mdc-switch + label {
			margin-bottom: rem(14px);
		}

		.mdc-text-field:not(.mdc-text-field--focused):not(.mdc-text-field--disabled) .mdc-floating-label,
		.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
			color: #FFF;
		}
		.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input:hover,
		.mdc-text-field:not(.mdc-text-field--focused):not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input {
			border-bottom-color: #FFF;
		}
		.mdc-text-field.mdc-text-field--invalid .mdc-text-field__input {
			border-bottom-color: #b00020 !important;
		}
	}

	.mdc-text-field{
		width: 100%;
	}
	.mdc-text-field__input {
		height: 51px;
	}
	.mdc-fab {
		background-color: var(--mdc-theme-primary, $blue-end);
	}
	.reset-button-cont{
		position: fixed;
		bottom: rem(20px);
		right: rem($aside-width + 20px);
		z-index: 200;
	}
	.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
		color: var(--mdc-theme-primary, $blue-end);
	}
	.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
		color: #b00020;
	}

	.mdc-switch {
		+ label {
			padding-left: rem(20px);
		}
		&.mdc-switch--checked {
			.mdc-switch__thumb, .mdc-switch__track {
				background-color: var(--mdc-theme-primary, $blue-end);
				border-color: var(--mdc-theme-primary, $blue-end);
			}
		}
	}
}

.changelog {
	.mdc-list-item__text {
		text-decoration: none;
		color: rgba(0,0,0,0.87);
	}
	.title-changelog{
		padding: rem(20px);
	}
	.mdc-drawer__drawer {
		overflow: auto;
	}
	.mdc-list-item__graphic {
		border-radius: 0;
		width: rem(32px);
		height: rem(32px);
		fill: #888;
	}
	ul.mdc-list > li:first-child .mdc-list-item__graphic {
		fill: url(#svg-hover);
	}
	li.sublist {
		padding-left: rem(20px);
		padding-right: rem(20px);
		margin-bottom: rem(20px);
	}
	li.sublist ul {
		color: #999;
		list-style: disc;
		padding-left: rem(22px);
		font-size: rem(12px);
		margin-top: rem(5px);
	}
}

#load-more-bg {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
}

.grid-backgrounds {
	&:before,
	&:after{
		content: "";
		display: table;
	}
	&:after{
		clear: both;
	}
	margin-right: -8px;
	margin-top: 1.875rem;
}
.background-item, #opt-lc-bg-image {
	overflow: hidden;
	position: relative;
	margin-right: 10px;
	width: calc(25% - 10px);
	margin-bottom: 10px;
	float: left;
	border-radius: 0.5rem;
	border: 2px solid transparent;

	a {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 5px 10px;
		text-decoration: none;
		color: #FFF;
		background-color: rgba(0, 0, 0, 0.60);
		font-size: 12px;
		opacity: 0;
		visibility: hidden;

		&:empty {
			display: none;
		}
	}
	&:hover a {
		opacity: 1;
		visibility: visible;
	}

	&.not-found {
		text-align: center;
		width: 100%;
		margin-right: 0;
		color: #999;
		font-size: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	&.active, &.active-persistant {
		border-color: $blue-end;
	}
	.aspect16by9 {
		cursor: pointer;
		display: block;
		padding-bottom: 56.25%;
		background-size: cover;
		background-position: center;
	}
	input[type="radio"] {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		-webkit-clip-path: inset(50%);
		clip-path: inset(50%);
		border: 0;
	}
}

.panel-features {
	.mdc-list-item {
		height: auto;
		padding-bottom: rem(20px);
	}
	.mdc-list-item__secondary-text {
		white-space: normal;
	}
}
#opt-lc-bg-image {
	margin: 0;
	width: 120px;
	position: absolute;
	top: 47px;
	right: 20px;
	cursor: pointer;
	.restore-bg {
		display: none;
	}
}
.option-bg-lc .option {
	width: calc(100% - 140px);
}
.profile-text {
	font-weight: 400;
	color: #9d9d9d;
	letter-spacing: .01786em;
	font-size: 13px;
	margin-top: 8px;
 	display: block;
}
.bg-credit-title {
	color: #888;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	a {
		color: #888;
	}
}

.panel-features {
	.mdc-list-item {
		padding-right: 3.25rem;
		cursor: pointer;

		.icon {
			width: 24px;
			height: 24px;
			fill: #FFF;
			position: absolute;
			right: 1rem;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}