@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import "libs/snackbar.min.css";
@import "libs/huebee.min.css";

@import "variables";
@import "utils/ripple";
@import "utils/tab-reset";
@import "utils/functions";

@import "bootstrap/bootstrap";

@import "popup";
@import "options";

body {
	font-family: "Roboto", sans-serif;
}

.aspect1by1 {
	padding-bottom: 100%;
}
.aspect16by9 {
	padding-bottom: 56.25%;
}

.card-hidden {
	overflow: hidden;
}

.form-group-max {
	max-width: 600px;
}

.row.row-mn {
	margin-left: 0;
	margin-right: 0;
}

.video-mw {
	max-width: 100%;
	display: block;
	height: auto;
}

button.close {
	outline: none;
}