body.pagesWindowBetter_gridView .pagesTreeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 8px;
  padding-bottom: 15px !important;
}

body.pagesWindowBetter_gridView div.pagesWindowTree div.pagesTreeContainer div.pagesGroupContainer {
  margin-bottom: 0;
}

body.pagesWindowBetter_gridView div.pagesWindowTree div.pagesTreeContainer div.pagesGroupTree {
  min-height: 250px;
  max-height: 550px;
  overflow: auto;
}

body.pagesWindowBetter_gridView .window.pagesWindowBetter_gridView_window div.fieldset>div.header {
  padding-top: 8px;
  padding-bottom: 8px;
}