.header {
  padding: 20px;
  display: flex;

  img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }

  .titles {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }
  .title {
    font-size: 18px;
  }
  .user {
    font-size: 12px;
    color: $gray-1;
  }
  .options-btn {
    border: 0;
    background: none;
    width: 60px;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: auto;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
