html.lcBackground div#main {
  background-color: #FFF;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 26px;
  box-sizing: border-box;
  height: auto;
  top: 50%;
  transform: translate(-50%, calc(-50% - 25.5px));
  margin: 0;
  border-radius: 7px;
  width: 460px;
  backdrop-filter: blur(5px);
}

html.lcBackground body {
  background-color: #FFF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: padding-box;
  background-attachment: fixed;
}

html.lcBackground .lastposts {
  display: none !important;
}

html.lcBackground #desktop .search img {
  filter: brightness(3);
}

html.lcBackground #desktop .search input::placeholder {
  color: #FFF;
}

html.lcBackground #desktop .search input,
html.lcBackground #desktop .shortcut {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  color: #FFF;
}

html.lcBackground #desktop .shortcut:not(:hover) img {
  filter: brightness(2);
}

html.lcBackground #desktop .shortcut div {
  text-transform: none;
  color: #fff;
}

html.lcBackground #desktop .logo img {
  display: none;
}