html.big-controls select, html.big-controls input[type=text], html.big-controls input[type=password], html.big-controls textarea {
	height: 30px;
}

html.big-controls div.interruptor {
	width: 42px;
	height: 20px;
	margin-top: -2px;
	border-radius: 20px;
}
html.big-controls div.interruptor > div {
	top: 2px;
	left: 3px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
}
html.big-controls div.interruptor.checked > div {
	left: 23px;
}
html.big-controls div.editWindowLayoutHeader > div.interruptorContent {
	bottom: 0;
}
html.big-controls  form[action*="editUser"] div.editWindowLayoutHeader > div.interruptorContent {
	bottom: 8px;
}
html.big-controls div.customTagGropExternNode > input {
	margin: -1px 5px;
}
html.big-controls .gitCommitMessage.__commitMessage__ {
	height: 65px;
}
@media screen, (-webkit-min-device-pixel-ratio: 0), not all {	
	html.big-controls input[type=checkbox] {
		height: 25px;
		width: 25px;
	}
	html.big-controls input[type=checkbox]:checked {
		background-position: 0px -1px;
		background-size: 25px;
	}
}
html.big-controls div.headerIcons.small > div.view1 div.interruptor.small {
	width: 18px;
	height: 8px;
}
html.big-controls div.headerIcons.small > div.view1 div.interruptor {
	display: block;
	margin: 1px auto 0 auto;
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	position: absolute;
	top: 10px;
	left: 70px;
	background-color: white;
	border: 1px solid #666;
}
html.big-controls div.headerIcons.small > div.view1 div.interruptor > div {
	background-color: #666;
}
html.big-controls div.headerIcons.small > div.view1 div.interruptor.small > div {
	top: 1px;
	left: 2px;
	width: 6px;
	height: 6px;
	border-radius: 3px;
}
html.big-controls div.headerIcons.small > div.view1 div.interruptor.checked {
	border: 1px solid #bfcc00;
}
html.big-controls div.headerIcons.small > div.view1 div.interruptor.small {
	width: 18px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {	
	html.big-controls div.filterBlock div.state > input[type=checkbox]:checked {
		background-image: url(img/backgrounds/checkbox.png);
		background-position: -4px -4px;
		background-size: auto;
	}
}
html.big-controls div.footerControls {
	padding: 0px 10px 6px;
}