.os-branches-btn #sandbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.os-branches-btn div.field {
	overflow: visible;
}

.os-branches-btn .select-html-fluid {
	padding: 10px 0;
}

.os-branches-btn .select-html-fluid:before, .os-branches-btn .select-html-fluid:after {
	content: "";
	display: table;
}

.os-branches-btn .select-html-fluid:after {
	clear: both;
}

.os-branches-btn .select-html-fluid .btn-option {
	display: block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	cursor: pointer;
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
	width: calc(50% - 7.5px);
	float: left;
	margin-right: 0;
	margin-left: 7.5px;
	font-size: 15px;
	text-transform: capitalize;
	height: 50px;
	line-height: 1;
}

.os-branches-btn .select-html-fluid .btn-option:nth-child(2n+1) {
	margin-left: 0;
	margin-right: 7.5px;
}

.os-branches-btn .select-html-fluid .btn-option:hover {
	color: #fff;
	background-color: #5a6268;
	border-color: #5a6268;
}

.os-branches-btn .select-html-fluid .btn-option:focus {
	box-shadow: 0 0 0 0.2rem rgba(131, 175, 11, .5);
}

.os-branches-btn .select-html-fluid .btn-option.active, .os-branches-btn .select-html-fluid .btn-option:active {
	color: #fff;
	background-color: #83af0b;
	border-color: #83af0b;
}

.os-branches-btn .select-html-fluid .btn-option .regexWrapText {
	font-size: 12px;
	line-height: 1.2;
}