.background-widget {
  position: relative;

  .image {
    height: calc(#{$menu-height} + #{$logo-cont-h});
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;
  }
  .credits {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    color: #fff;
    font-size: 12px;
    z-index: 1;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

    a {
      color: #fff;
      font-weight: bold;
    }
  }
}

.content-block.home-last-posts {
  padding-bottom: 10px;
}

.col-last-blog {
  margin-bottom: 30px;
  @media (min-width: 1500px) {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
  }
}
