.grid-options {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  .dynamic-grid-item {
    width: 100%;
    float: left;
    padding: 0 15px 30px;
    display: flex;
    @media (min-width: 1300px) {
      width: 50%;
    }
    @media (min-width: 1600px) {
      width: 33.33333%;
    }
    &.opened {
      width: 100%;
    }
  }
}

.card-option {
  position: relative;
  width: 100%;

  .list-group-item label {
    display: block;
    margin-bottom: 0;
    cursor: pointer;
    color: $logo-blue-end;
  }

  .card-body + .list-group > .list-group-item {
    border-top-width: 1px;
    + .list-group-item {
      margin-top: -1px;
    }
  }

  .list-group-item a {
    display: block;
    position: relative;
  }

  .card-img-top-link {
    display: block;
    position: relative;
  }

  .column-left {
    float: left;
    width: 100%;
  }
  .column-right {
    display: none;
    float: left;
    width: calc(100% - 400px);
    border-left: 1px solid $border-from-white;
  }
  .close-card {
    display: none;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;

    svg {
      height: 20px;
      width: 20px;
    }
  }
  .ocult {
    display: none;
  }

  .breadcrumb {
    padding: 0;
    background-color: transparent;
    margin: 0;
  }
}
.opened .card-option {
  // width: 100%;
  // transform: none !important;
  flex-direction: row;
  z-index: 200;

  .column-left {
    width: 400px;
  }
  .column-right {
    display: flex;
  }
  .close-card {
    display: block;
  }
  .card-img,
  .card-img-top {
    border-top-right-radius: 0;
  }
  .ocult {
    display: block;
  }
}
