body.pagesWindowBetter_betterTreeLevels img.pageIcon {
  display: none;
}

body.pagesWindowBetter_betterTreeLevels div.pagesWindowTree div.pagesTreeContainer div.page > div:first-child {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%2394a6ad' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3e%3cpath d='M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zm-22.6 22.7c2.1 2.1 3.5 4.6 4.2 7.4H256V32.5c2.8.7 5.3 2.1 7.4 4.2l83.9 83.9zM336 480H48c-8.8 0-16-7.2-16-16V48c0-8.8 7.2-16 16-16h176v104c0 13.3 10.7 24 24 24h104v304c0 8.8-7.2 16-16 16z'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 22px;
  background-size: 14px;
  position: relative;
}
body.pagesWindowBetter_betterTreeLevels div.pagesWindowTree div.pagesTreeContainer div.page > div:first-child::after {
  content: "1";
  position: absolute;
  font-family: "Consolas", monospace;
  font-size: 11px;
  line-height: 25px;
  left: 0px;
  display: block;
  width: 15px;
  height: 20px;
  text-align: center;
  color: #94a6ad;
}
body.pagesWindowBetter_betterTreeLevels
  div.pagesWindowTree
  div.pagesTreeContainer
  div.pageTree
  div.page
  > div:first-child::after {
  content: "2";
  color: #5b92be;
}
body.pagesWindowBetter_betterTreeLevels
  div.pagesWindowTree
  div.pagesTreeContainer
  div.pageTree
  div.pageTree
  div.page
  > div:first-child::after {
  content: "3";
  color: #6d698c;
}
body.pagesWindowBetter_betterTreeLevels
  div.pagesWindowTree
  div.pagesTreeContainer
  div.pageTree
  div.pageTree
  div.pageTree
  div.page
  > div:first-child::after {
  content: "4";
  color: #853d69;
}
body.pagesWindowBetter_betterTreeLevels
  div.pagesWindowTree
  div.pagesTreeContainer
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.page
  > div:first-child::after {
  content: "5";
  color: #bf003d;
}
body.pagesWindowBetter_betterTreeLevels
  div.pagesWindowTree
  div.pagesTreeContainer
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.page
  > div:first-child::after {
  content: "6";
  color: #ff2828;
}
body.pagesWindowBetter_betterTreeLevels
  div.pagesWindowTree
  div.pagesTreeContainer
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.page
  > div:first-child::after {
  content: "7";
  color: #ff6a00;
}
body.pagesWindowBetter_betterTreeLevels
  div.pagesWindowTree
  div.pagesTreeContainer
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.page
  > div:first-child::after {
  content: "8";
  color: #ff9600;
}
body.pagesWindowBetter_betterTreeLevels
  div.pagesWindowTree
  div.pagesTreeContainer
  div.pageTree
  div.page
  > div:first-child {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%235b92be' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3e%3cpath d='M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zm-22.6 22.7c2.1 2.1 3.5 4.6 4.2 7.4H256V32.5c2.8.7 5.3 2.1 7.4 4.2l83.9 83.9zM336 480H48c-8.8 0-16-7.2-16-16V48c0-8.8 7.2-16 16-16h176v104c0 13.3 10.7 24 24 24h104v304c0 8.8-7.2 16-16 16z'%3e%3c/path%3e%3c/svg%3e");
}
body.pagesWindowBetter_betterTreeLevels
  div.pagesWindowTree
  div.pagesTreeContainer
  div.pageTree
  div.pageTree
  div.page
  > div:first-child {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%236d698c' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3e%3cpath d='M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zm-22.6 22.7c2.1 2.1 3.5 4.6 4.2 7.4H256V32.5c2.8.7 5.3 2.1 7.4 4.2l83.9 83.9zM336 480H48c-8.8 0-16-7.2-16-16V48c0-8.8 7.2-16 16-16h176v104c0 13.3 10.7 24 24 24h104v304c0 8.8-7.2 16-16 16z'%3e%3c/path%3e%3c/svg%3e");
}
body.pagesWindowBetter_betterTreeLevels
  div.pagesWindowTree
  div.pagesTreeContainer
  div.pageTree
  div.pageTree
  div.pageTree
  div.page
  > div:first-child {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23853d69' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3e%3cpath d='M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zm-22.6 22.7c2.1 2.1 3.5 4.6 4.2 7.4H256V32.5c2.8.7 5.3 2.1 7.4 4.2l83.9 83.9zM336 480H48c-8.8 0-16-7.2-16-16V48c0-8.8 7.2-16 16-16h176v104c0 13.3 10.7 24 24 24h104v304c0 8.8-7.2 16-16 16z'%3e%3c/path%3e%3c/svg%3e");
}
body.pagesWindowBetter_betterTreeLevels
  div.pagesWindowTree
  div.pagesTreeContainer
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.page
  > div:first-child {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23bf003d' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3e%3cpath d='M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zm-22.6 22.7c2.1 2.1 3.5 4.6 4.2 7.4H256V32.5c2.8.7 5.3 2.1 7.4 4.2l83.9 83.9zM336 480H48c-8.8 0-16-7.2-16-16V48c0-8.8 7.2-16 16-16h176v104c0 13.3 10.7 24 24 24h104v304c0 8.8-7.2 16-16 16z'%3e%3c/path%3e%3c/svg%3e");
}
body.pagesWindowBetter_betterTreeLevels
  div.pagesWindowTree
  div.pagesTreeContainer
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.page
  > div:first-child {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23ff2828' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3e%3cpath d='M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zm-22.6 22.7c2.1 2.1 3.5 4.6 4.2 7.4H256V32.5c2.8.7 5.3 2.1 7.4 4.2l83.9 83.9zM336 480H48c-8.8 0-16-7.2-16-16V48c0-8.8 7.2-16 16-16h176v104c0 13.3 10.7 24 24 24h104v304c0 8.8-7.2 16-16 16z'%3e%3c/path%3e%3c/svg%3e");
}
body.pagesWindowBetter_betterTreeLevels
  div.pagesWindowTree
  div.pagesTreeContainer
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.page
  > div:first-child {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23ff6a00' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3e%3cpath d='M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zm-22.6 22.7c2.1 2.1 3.5 4.6 4.2 7.4H256V32.5c2.8.7 5.3 2.1 7.4 4.2l83.9 83.9zM336 480H48c-8.8 0-16-7.2-16-16V48c0-8.8 7.2-16 16-16h176v104c0 13.3 10.7 24 24 24h104v304c0 8.8-7.2 16-16 16z'%3e%3c/path%3e%3c/svg%3e");
}
body.pagesWindowBetter_betterTreeLevels
  div.pagesWindowTree
  div.pagesTreeContainer
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.pageTree
  div.page
  > div:first-child {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23ff9600' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3e%3cpath d='M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zm-22.6 22.7c2.1 2.1 3.5 4.6 4.2 7.4H256V32.5c2.8.7 5.3 2.1 7.4 4.2l83.9 83.9zM336 480H48c-8.8 0-16-7.2-16-16V48c0-8.8 7.2-16 16-16h176v104c0 13.3 10.7 24 24 24h104v304c0 8.8-7.2 16-16 16z'%3e%3c/path%3e%3c/svg%3e");
}
body.pagesWindowBetter_betterTreeLevels
  div.pagesWindowTree
  div.pagesTreeContainer
  div.page.unactivated
  > div:first-child {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66.281 66.281'%3E%3Cpath d='M33.14 66.281c18.273 0 33.141-14.868 33.141-33.143C66.281 14.866 51.414 0 33.14 0S0 14.866 0 33.139c0 18.274 14.867 33.142 33.14 33.142zm0-4c-7.421 0-14.199-2.793-19.35-7.377L54.903 13.79c4.584 5.15 7.377 11.928 7.377 19.349.001 16.069-13.071 29.142-29.14 29.142zm0-58.28c7.21 0 13.812 2.638 18.905 6.991L10.992 52.046C6.638 46.952 4 40.35 4 33.139 4 17.072 17.072 4.001 33.14 4.001z'/%3E%3C/svg%3E") !important;
  background-size: 16px !important;
  background-position: 1px center !important;
}
body.pagesWindowBetter_betterTreeLevels
  div.pagesWindowTree
  div.pagesTreeContainer
  div.page.unactivated
  > div:first-child::after {
  content: "" !important;
}
