.card {
  border-color: rgba(0, 0, 0, 0.1);
  border: 0;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 3px 6px rgba(0, 0, 0, 0.14);

  a {
    position: relative;
    text-decoration: none;
    fill: currentColor;
  }

  .card-header {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 20px;

    .card-title {
      font-weight: 500;
      font-size: 16px;
      // color: $title-2;
      position: relative;
      margin: 0;
      display: flex;
      align-items: center;

      button {
        box-shadow: none;
      }

      .icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        display: block;

        svg {
          width: 100%;
          height: 100%;
          fill: currentColor;
          display: block;
        }
      }
    }

    & + .card-body {
      border-top: 1px solid #e1e9f0;
    }
  }

  .list-group > .list-group-item .icon svg {
    width: 1.33rem;
    height: 1.33rem;
    margin-right: 0.75rem;
  }

  .card-body {
    padding: rem(20px);
    display: flex;
    flex-direction: column;
    // color: $text-2;

    .card-title {
      font-size: rem(18px);
      font-weight: 500;
      // color: $title-2;
      margin-bottom: 0;
    }
    .card-text:not(.card-text-foot) {
      // color: $text-1;
      font-size: rem(14px);
      margin-top: rem(15px);
      line-height: 1.7;

      .text-muted {
        line-height: initial;
        display: block;
      }
    }
    .card-text-foot {
      margin-top: auto;
    }
  }
  .read-more {
    margin-top: 5px;
  }
}
