#main_navigation .toolbar_link_extension_settings.toolbar_link svg {
	width: 20px;
	height: 20px;
}

#main_navigation .toolbar_link_extension_settings.toolbar_link .tooltip-text {
	visibility: hidden;
	text-align: center;
	position: absolute;
	z-index: 1;
	width: auto;
	opacity: 0;
	transition: opacity 350ms ease .5s;
	border-radius: 4px;
	line-height: 1.66667;
	white-space: nowrap;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	background-color: #2F3941;
	padding: 4px 8px 5px 8px;
	bottom: auto;
	left: calc(100% + 9px);
	right: auto;
}

#main_navigation .toolbar_link_extension_settings.toolbar_link .tooltip-text::after {
	content: "";
	position: absolute;
	border-width: 5px;
	border-style: solid;
	top: 50%;
	left: -5px;
	margin-left: -5px;
	border-color: transparent rgb(47, 57, 65) transparent transparent;
	transform: translateY(-50%);
}

#main_navigation .toolbar_link_extension_settings.toolbar_link:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

.swal-zendesk-popup .swal2-header {
	margin: -20px -40px 20px;
	border-bottom: 1px solid #e9ebed;
	padding: 20px 40px;
}

.swal-zendesk-popup .swal2-popup {
	display: block;
	margin: 0;
	padding: 20px 40px;
}

.swal-zendesk-popup .swal2-popup .swal2-content {
	line-height: 1.42857;
	color: #6e7074;
	font-size: 14px;
	font-weight: 400;
}

.swal-zendesk-popup .swal2-popup .swal2-title {
	display: flex;
	line-height: 1.42857;
	color: #2f3941;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	align-items: center;
}

.swal-zendesk-popup .swal2-popup .swal2-title svg {
	width: 16px;
	height: 16px;
	margin-right: 15px;
}

.swal-zendesk-popup.swal2-shown {
	background-color: rgba(47, 57, 65, .85);
}

.swal-zendesk-popup .swal2-styled.swal2-confirm, .swal-zendesk-popup .swal2-actions .swal2-styled.swal2-cancel, .swal-zendesk-popup .swal2-actions .swal2-styled.swal2-confirm {
	font-size: 14px;
	font-weight: 500;
	padding: 0 20px;
	line-height: 38px;
	min-width: 102px;
	border-radius: 4px;
}