#main_navigation .toolbar_link_extension_settings.toolbar_link svg {
	width: 20px;
	height: 20px;
}

#main_navigation .toolbar_link_extension_settings.toolbar_link .tooltip-text {
	visibility: hidden;
	text-align: center;
	position: absolute;
	z-index: 1;
	width: auto;
	opacity: 0;
	transition: opacity 350ms ease .5s;
	border-radius: 4px;
	line-height: 1.66667;
	white-space: nowrap;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	background-color: #2F3941;
	padding: 4px 8px 5px 8px;
	bottom: auto;
	left: calc(100% + 9px);
	right: auto;
}

#main_navigation .toolbar_link_extension_settings.toolbar_link .tooltip-text::after {
	content: "";
	position: absolute;
	border-width: 5px;
	border-style: solid;
	top: 50%;
	left: -5px;
	margin-left: -5px;
	border-color: transparent rgb(47, 57, 65) transparent transparent;
	transform: translateY(-50%);
}

#main_navigation .toolbar_link_extension_settings.toolbar_link:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

.swal-zendesk-popup .swal2-header {
	margin: -20px -40px 20px;
	border-bottom: 1px solid #e9ebed;
	padding: 20px 40px;
}

.swal-zendesk-popup .swal2-popup {
	display: block;
	margin: 0;
	padding: 20px 40px;
}

.swal-zendesk-popup .swal2-popup .swal2-content {
	line-height: 1.42857;
	color: #6e7074;
	font-size: 14px;
	font-weight: 400;
}

.swal-zendesk-popup .swal2-popup .swal2-title {
	display: flex;
	line-height: 1.42857;
	color: #2f3941;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	align-items: center;
}

.swal-zendesk-popup .swal2-popup .swal2-title svg {
	width: 16px;
	height: 16px;
	margin-right: 15px;
}

.swal-zendesk-popup.swal2-shown {
	background-color: rgba(47, 57, 65, .85);
}

.swal-zendesk-popup .swal2-styled.swal2-confirm, .swal-zendesk-popup .swal2-actions .swal2-styled.swal2-cancel, .swal-zendesk-popup .swal2-actions .swal2-styled.swal2-confirm {
	font-size: 14px;
	font-weight: 500;
	padding: 0 20px;
	line-height: 38px;
	min-width: 102px;
	border-radius: 4px;
}

.TLmanaGer_ticketConsume_badge_cont {
	margin-left: 10px;
	float: left;
}

.TLmanaGer_ticketConsume_badge {
	background-color: #E9EBED;
	color: #2F3941;
	padding: 8px 12px;
	line-height: 1.1;
	font-size: 11px;
	font-weight: 600;
	display: block;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	float: left;
}

.TLmanaGer_ticketConsume_badge.TLmanaGer_ticketConsume_badge_green {
	background-color: #1da462;
	color: #FFF;
}

.TLmanaGer_ticketConsume_badge.TLmanaGer_ticketConsume_badge_yellow {
	background-color: #ffcd46;
	color: #2F3941;
}

.TLmanaGer_ticketConsume_badge.TLmanaGer_ticketConsume_badge_red {
	background-color: #dd5144;
	color: #FFF;
}

.TLmanaGer_ticketConsume_checkedAgo {
	font-size: 10px;
	color: #888;
	line-height: 28px;
	float: left;
	margin-left: 10px;
}

.TLmanaGer_ticketConsume_edit {
	float: left;
	height: 28px;
	width: 28px;
	background-color: transparent;
	border: 1px solid #d8dcde;
	border-radius: 4px 0 0 4px;
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='rgb(47, 57, 65)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath d='M493.25 56.26l-37.51-37.51C443.25 6.25 426.87 0 410.49 0s-32.76 6.25-45.26 18.74L12.85 371.12.15 485.34C-1.45 499.72 9.88 512 23.95 512c.89 0 1.78-.05 2.69-.15l114.14-12.61 352.48-352.48c24.99-24.99 24.99-65.51-.01-90.5zM126.09 468.68l-93.03 10.31 10.36-93.17 263.89-263.89 82.77 82.77-263.99 263.98zm344.54-344.54l-57.93 57.93-82.77-82.77 57.93-57.93c6.04-6.04 14.08-9.37 22.63-9.37 8.55 0 16.58 3.33 22.63 9.37l37.51 37.51c12.47 12.48 12.47 32.78 0 45.26z'%3e%3c/path%3e%3c/svg%3e");
}

.TLmanaGer_ticketConsume_edit:focus {
	outline: none;
}
.TLmanaGer_ticketConsume_edit:hover {
	background-color: rgb(233, 235, 237);
}