@import "utils/variables";
@import "options/variables";

@import "~bootstrap";
@import "~bootstrap-vue";

@import "utils/common";

html {
  font-size: $main-font-size;
}

body {
  background-color: $background;
  overflow: hidden;
}

html,
body,
#layout {
  height: 100%;
}

::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
  display: none;
}

@import "options/components";

@import "options/aside-left";
@import "options/aside-right";
@import "options/main-content";

@import "options/pages/home";
@import "options/pages/achievements";
@import "options/pages/changelog";
@import "options/pages/blog";
@import "options/pages/user";
@import "options/pages/options";
