$aside-left-width: 250px;
$aside-right-width: 250px;
$aside-left-width-mobile: 68px;
$top-bar-h: 48px;
$logo-cont-h: 58px;
$menu-height: 320px;

$blue-1: #2d3144;
$blue-2: #333a56;
$blue-3: #2d4065;

$title-1: #596671; // header titles content
$title-2: #2d3144; // card dark title
$title-3: #949494; // aside right title part white

$text-1: #8e9199;
$text-2: #777b83;

$background: #f0f6fb; // global
$background-title: #e1e9f0; // header title content bg
$background-gray-1: #f9f9f9; // aside right bg white part

$logo-blue-start: #00a8ff;
$logo-blue-end: #007aff;

// overrite BT
$blue: $logo-blue-end !default;
$yiq-text-dark: $logo-blue-end !default;

$primary: $logo-blue-end !default;
$custom-control-indicator-size: 1.33rem !default;

// $custom-switch-width: $custom-control-indicator-size * 1.75 !default;
// $custom-switch-indicator-border-radius: $custom-control-indicator-size / 2 !default;

$modal-content-border-width: 0 !default;

$input-padding-y: 0.5rem !default;
$input-padding-x: 1rem !default;

$input-color: #2d3144;
$input-border-color: #e1e9f0;
$input-bg: #e1e9f0;

$form-feedback-valid-color: $logo-blue-end !default;
$form-feedback-icon-valid-color: $logo-blue-end !default;

$list-group-border-color: #e7e7e7 !default;
$list-group-item-padding-y: 1.25rem !default;
// $list-group-item-padding-x: 1.25rem !default;

@import "~bootstrap";
@import "~bootstrap-vue";

$main-font-size: 14px;

@import "utils/common";

html {
  font-size: $main-font-size;
}

body {
  background-color: $background;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

html,
body,
#layout {
  height: 100%;
}

@import "options/components";

@import "options/aside-left";
@import "options/aside-right";
@import "options/main-content";

@import "options/pages/home";
@import "options/pages/achievements";
@import "options/pages/changelog";
@import "options/pages/blog";
@import "options/pages/user";
@import "options/pages/options";
