.aside-left {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-right: 1px solid $border-from-white;
  overflow: auto;
  width: $aside-left-width-mobile;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;

  @media (min-width: map-get($grid-breakpoints, "xl")) {
    width: $aside-left-width;
  }

  &,
  a {
    fill: currentColor;
  }

  #logo-container {
    // background-color: $blue-1;
    height: $logo-cont-h;
    flex: 1 0 $logo-cont-h;
    max-height: $logo-cont-h;
    display: flex;
    align-items: center;
    padding-left: rem(22px);
    padding-right: rem(22px);
    @include fontSize(16px);
    font-weight: 500;
    position: relative;
    text-decoration: none;
    letter-spacing: 0.05em;

    svg {
      width: 30px;
      height: 30px;
      @media (min-width: map-get($grid-breakpoints, "xl")) {
        margin-right: rem(10px);
      }
    }

    > span {
      @media (max-width: map-get($grid-breakpoints, "xl") - 1px) {
        display: none;
      }
    }
  }

  .menu {
    // height: $menu-height;
    // background: linear-gradient(0deg, rgba($blue-3, 1) 0%, rgba($blue-2, 1) 100%);
    // flex: 1 0 $menu-height;
    // max-height: $menu-height;
    position: relative;
    z-index: 2;
    backdrop-filter: blur(4px);

    a {
      height: 48px;
      display: flex;
      align-items: center;
      padding-left: rem(22px);
      padding-right: rem(22px);
      position: relative;
      color: $gray-1;

      // &::after {
      //   content: "";
      //   display: block;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   bottom: 0;
      //   width: 5px;
      //   opacity: 0;
      //   background: linear-gradient(0deg, $logo-blue-end 0%, $logo-blue-start 100%);
      // }
      &:hover,
      &.router-link-active {
        text-decoration: none;
        color: $logo-blue-end;
        // .icon,
        // .text {
        //   opacity: 1;
        // }
      }
      // &:hover {
      // }
      // &.router-link-active {
      //   &::after {
      //     opacity: 1;
      //   }
      // }
      svg {
        height: rem(16px);
        width: rem(24px);
      }
      .icon {
        margin-right: rem(20px);
        // opacity: 0.75;
      }
      .text {
        // opacity: 0.75;
        @media (max-width: map-get($grid-breakpoints, "xl") - 1px) {
          display: none;
        }
      }
    }
  }

  .footer-block {
    // background-color: $blue-2;
    ul {
      margin-bottom: 0;
    }
    .title {
      border-top: 1px solid $border-from-white;
      // background-color: $blue-2;
      // border-top: 1px solid $blue-1;
      font-weight: 500;
      // text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.05em;
      z-index: 3;
      position: relative;
      @media (max-width: map-get($grid-breakpoints, "xl") - 1px) {
        display: none;
      }
    }
    .title,
    a {
      height: 53px;
      position: relative;
    }

    a {
      display: flex;
      align-items: center;
      padding-left: rem(22px);
      padding-right: rem(22px);
      border-top: 1px solid $border-from-white;

      &:hover {
        // .icon,
        // .text {
        //   opacity: 0.75;
        // }
        text-decoration: none;
      }
      .icon {
        margin-right: rem(20px);
      }
      // .icon,
      // .text {
      //   opacity: 0.35;
      // }
      .text {
        @media (max-width: map-get($grid-breakpoints, "xl") - 1px) {
          display: none;
        }
      }

      svg {
        height: rem(16px);
        width: rem(24px);
      }
    }
  }

  .copy-container {
    margin-top: auto;
    padding-bottom: rem(28px);
    font-size: 9px;
    padding-left: 3px;
    padding-right: 3px;
    @media (min-width: map-get($grid-breakpoints, "xl")) {
      font-size: 12px;
      padding-left: 0;
      padding-right: 0;
    }
    text-align: center;

    a {
      color: #5e6581;
      text-decoration: none;
      padding: rem(22px) rem(15px);
      display: block;
      position: relative;

      &:hover {
        color: #8d95b2;
      }
    }

    .copy-text {
      color: #8d95b2;
    }
  }
}
