.opensaasLoginFields div.field {
    overflow: visible !important;
}

.select-html-tlmanager {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.select-html-tlmanager .btn-option * {
    pointer-events: none;
}

.select-html-tlmanager-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.select-html-tlmanager .btn-option {
    display: block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    cursor: pointer;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-size: 15px;
    text-transform: capitalize;
    height: 50px;
    line-height: 1;
}

.select-html-tlmanager .btn-option:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #5a6268;
}

.select-html-tlmanager .btn-option:focus {
    box-shadow: 0 0 0 0.2rem rgba(131, 175, 11, 0.5);
}

.select-html-tlmanager .btn-option.active,
.select-html-tlmanager .btn-option:focus {
    color: #fff;
    background-color: #83af0b;
    border-color: #83af0b;
}

.select-html-tlmanager .btn-option .regexWrapText {
    font-size: 12px;
    line-height: 1.2;
}
